* {
  list-style: none;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
}

body {
  padding: 0;
  margin: 0;
}

/* Landing Page */
.main {
  width: 100%;
  height: 100vh;
  background-color: #0c0c0c;
  /* background-image: url("https://d39l2hkdp2esp1.cloudfront.net/img/photo/150832/150832_00_2x.jpg"); */
  background-size: 100%;
  background-position: left;
  background-repeat: no-repeat;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: none;
}

.main .name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: absolute;
  display: inline-block;
}

.main .name h1 {
  color: #fff;
  font-family: "Abel", sans-serif;
  font-size: 96px;
  font-weight: 400;
  /* text-transform: uppercase; */
  letter-spacing: 5px;
  text-align: center;
  margin: 0;
}

.main .name .line {
  position: absolute;
  top: 110%;
  left: 51%;
  width: 7em;
  margin: 0 auto;
  border-right: 2px solid rgba(255, 255, 255, 0.75);
  font-size: 180%;
  text-align: center;
  white-space: nowrap;
  font-weight: 200;
  overflow: hidden;
  -webkit-transform: translate(-50%);
  transform: translate(-50%);
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  letter-spacing: 5px;
}

.main .name .anim-typewriter {
  -webkit-animation: typewriter 3s steps(40) 1s 1 normal both,
    blinkTextCursor 500ms steps(40) infinite normal;
  animation: typewriter 3s steps(40) 1s 1 normal both,
    blinkTextCursor 500ms steps(40) infinite normal;
}

@-webkit-keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 6em;
  }
}

@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 6em;
  }
}

@-webkit-keyframes blinkTextCursor {
  from {
    border-right-color: rgba(255, 255, 255, 0.75);
  }
  to {
    border-right-color: transparent;
  }
}

@keyframes blinkTextCursor {
  from {
    border-right-color: rgba(255, 255, 255, 0.75);
  }
  to {
    border-right-color: transparent;
  }
}

.main .name h1::before,
.main .name h1::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.main .name h1::before {
  color: #ff00c1;
  -webkit-animation: glitch-effect 3s infinite;
  animation: glitch-effect 3s infinite;
}

.main .name h1::after {
  color: #3498db;
  -webkit-animation: glitch-effect 4s infinite;
  animation: glitch-effect 4s infinite;
}

@-webkit-keyframes glitch-effect {
  0% {
    left: -2px;
    top: -2px;
  }
  25% {
    left: 2px;
    top: 0px;
  }
  50% {
    left: -1px;
    top: 2px;
  }
  75% {
    left: 1px;
    top: -1px;
  }
  100% {
    left: 0px;
    top: -2px;
  }
}

@keyframes glitch-effect {
  0% {
    left: -2px;
    top: -2px;
  }
  25% {
    left: 2px;
    top: 0px;
  }
  50% {
    left: -1px;
    top: 2px;
  }
  75% {
    left: 1px;
    top: -1px;
  }
  100% {
    left: 0px;
    top: -2px;
  }
}

.main a {
  position: relative;
  top: 30%;
  cursor: pointer;
  color: #ffffff;
  font-size: 24px;
  text-decoration: none;
  font-family: "Abel", sans-serif;
  font-weight: 400;
}

.main .cool-link::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #fff;
  -webkit-transition: width 0.3s;
  transition: width 0.3s;
}

.main .cool-link:hover::after {
  width: 100%;
  -webkit-transition: width 0.3s;
  transition: width 0.3s;
}

@media all and (max-width: 1024px) {
  .main {
    background-size: cover;
  }
}

@media all and (max-width: 375px) {
  .main {
    background-size: cover;
    height: 100vh;
    width: 100%;
  }
  h1 {
    font-size: 36px !important;
    letter-spacing: 10px !important;
  }
  .line {
    font-size: 24px !important;
    letter-spacing: 3px !important;
  }
  .cool-link {
    font-size: 24px !important;
  }
}

/* Image Trail  */
.img {
  position: absolute;
  width: 400px;
  height: 500px;
  transition-timing-function: ease-out;
}
.img-1 {
  background-size: cover;
  transition-duration: 1000ms;
  background: url("https://images.unsplash.com/photo-1530406831759-15c5c0cbce8b?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=564&q=80")
    no-repeat 50% 50%;
}
.img-2 {
  background-size: cover;
  transition-duration: 800ms;
  background: url("https://images.unsplash.com/photo-1520586501-5825e619597e?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80")
    no-repeat 50% 50%;
}
.img-3 {
  background-size: cover;
  transition-duration: 600ms;
  background: url("https://images.unsplash.com/photo-1610606680473-884c188d5999?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80")
    no-repeat 50% 50%;
}
.img-4 {
  background-size: cover;
  transition-duration: 400ms;
  background: url("https://images.unsplash.com/photo-1606469716684-63436224a95c?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80")
    no-repeat 50% 50%;
}
.img-5 {
  background-size: cover;
  transition-duration: 200ms;
  background: url("https://images.unsplash.com/photo-1602338681424-e148ee1cc7f9?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80")
    no-repeat 50% 50%;
}

/* Image Trail End */

/* Landing Page End */

/* Cursor */
[class^="cursor"] {
  position: fixed;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  z-index: 999;
  pointer-events: none;
}
.cursor-outer {
  width: 50px;
  height: 50px;
  border: 1px solid #fff;
  transition: all 0.08s ease-out;
}
.cursor-inner {
  width: 7px;
  height: 7px;
  background: #fff;
}
.main:hover ~ .cursor-outer {
  width: 90px;
  height: 90px;
  background: #fff;
  mix-blend-mode: difference;
}
.main:hover ~ .cursor-inner {
  opacity: 0;
}
/* Cursor End */

/* Navigation  */

nav {
  position: fixed;
  z-index: 10;
  left: 0;
  right: 0;
  font-family: "Montserrat", sans-serif;
  padding: 0 5%;
  height: 100px;
  /* background-color: #1a1a1a; */
  /* color: #000; */
}
nav .logo {
  float: left;
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
  color: #000;
  font-size: 24px;
}
nav .links {
  float: right;
  padding: 0;
  margin: 0;
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav .links li {
  list-style: none;
}
nav .links a {
  display: block;
  padding: 1em;
  font-size: 16px;
  font-weight: 200;
  color: #000;
  text-decoration: none;
}
#nav-toggle {
  position: absolute;
  top: -100px;
}
nav .icon-burger {
  display: none;
  position: absolute;
  right: 5%;
  top: 50%;
  transform: translateY(-50%);
}
nav .icon-burger .line {
  width: 30px;
  height: 3px;
  background-color: #000;
  margin: 5px;
}

/* Navigation End  */

/* Gallery */

/* .gallery {
  display: grid;
  width: 100%;
  height: 200vh !important;
  grid-gap: 5px 5px;
  grid-template-columns: repeat(15, 1fr);
  grid-template-rows: repeat(4, 1fr);
  cursor: pointer;
  padding: 6rem 0;
  margin: 0 auto 0 auto;
}
.one {
  grid-column: span 10;
  grid-row: span 2;
  background-image: url("https://images.unsplash.com/photo-1520854221256-17451cc331bf?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80") !important;
}
.two {
  grid-column: span 5;
  grid-row: span 2;
  background-image: url("https://images.unsplash.com/photo-1541250848049-b4f7141dca3f?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80") !important;
}
.three {
  grid-column: span 5;
  grid-row: span 1;
  background-image: url("https://images.unsplash.com/photo-1484849757660-7c00c60726b6?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=634&q=80");
}
.four {
  grid-column: span 5;
  grid-row: span 1;
  background-image: url("https://images.unsplash.com/photo-1580151134699-e0cfbeb763d3?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80");
}

.five {
  grid-column: span 10;
  grid-row: span 2;
  background-image: url("https://images.unsplash.com/photo-1519379169146-d4b170447caa?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80");
}
.six {
  grid-column: span 5;
  grid-row: span 2;
  background-image: url("https://images.unsplash.com/photo-1550030272-2695f03d3088?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=334&q=80");
}
.gallery div {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media screen and (max-width: 1100px) {
  .gallery {
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(5, 1fr);
  }
}
@media screen and (max-width: 700px) {
  .gallery {
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(7, 1fr);
  }
} */

/* Footer */
footer {
  height: auto;
  width: 100vw;
  padding-top: 40px;
  color: #000;
  font-family: "Montserrat", sans-serif;
}
.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.footer-content h3 {
  font-size: 1.8rem;
  font-weight: 200;
  line-height: 2rem;
}
.footer-content p {
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
}
.socials {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
}
.socials li {
  margin: 0 10px;
}
.socials a {
  text-decoration: none;
  color: #000;
}
.socials a i {
  font-size: 2rem;
}
.socials a:hover i {
  color: aqua;
}

/* About Section   */
.about {
  height: 100vh;
  display: flex;
  align-items: center;
  /* background-color: #1a1a1a; */
  font-family: "Montserrat", sans-serif;
}
.container {
  width: 100%;
  max-width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
}
.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2.5rem;
  align-items: center;
  justify-content: center;
}
.left img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}
.right > * {
  margin-bottom: 1.1rem;
  color: #000;
}
.right h4 {
  font-weight: 400;
  background: red;
  display: inline-block;
  padding: 5px 15px;
  font-size: 16px;
  border-radius: 4px;
  color: #000;
}
.right h1 {
  font-size: 2rem;
  font-weight: 400;
  color: #000;
}
.right p {
  text-align: justify;
  color: #000;
}
/* .btn {
  text-decoration: none;
  display: block;
  padding: 10px 25px;
  border: 2px solid red;
  position: relative;
  z-index: 12;
  color: #fff;
  width: 12%;
  margin-top: 1rem;
}
.btn::after {
  content: "";
  background: red;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0%;
  z-index: -1;
  transition: width 0.5s ease;
}
.btn:hover::after {
  width: 100%;
} */

/* Pricing Cards */
.pricing {
  text-align: center;
  font-size: 5vw;
}
.table {
  min-height: 100vh;
  display: flex;
  align-items: center;
}
.pricing-table {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: min(1600px, 100%);
  margin: auto;
}
.pricing-card {
  flex: 1;
  max-width: 360px;
  background-color: #fff;
  margin: 20px 10px;
  text-align: center;
  cursor: pointer;
  overflow: hidden;
  transition: 0.3s linear;
  border: 2px solid #000;
  box-shadow: 1px 10px 20px #888888;
}
.pricing-card-header {
  /* background-color: aqua; */
  display: inline-block;
  color: #000;
  padding: 12px 30px;
  border-radius: 0 0 20px 20px;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 600;
  transition: 0.4s linear;
}
.pricing-card:hover .pricing-card-header {
  box-shadow: 0 0 0 26em #0fbcf9;
}
.price {
  font-size: 70px;
  color: #0fbcf9;
  margin: 40px 0;
  transition: 0.2s linear;
}
.price sup,
.price span {
  font-size: 22px;
  font-weight: 700;
}
.pricing-card:hover,
.pricing-card:hover .price {
  color: #fff;
}
.pricing-card li {
  font-size: 16px;
  padding: 10px 0;
  text-transform: uppercase;
}
.order-btn {
  display: inline-block;
  margin-bottom: 40px;
  margin-top: 80px;
  border: 2px solid #0fbcf9;
  color: #0fbcf9;
  padding: 10px 40px;
  border-radius: 8px;
  text-transform: uppercase;
  font-weight: 400;
  transition: 0.3s linear;
}
.order-btn:hover {
  background-color: #0fbcf9;
  color: #fff;
}

/* Media Queries */

/* Navigation */
@media screen and (max-width: 1100px) {
  .pricing-card {
    flex: 50%;
  }
}
@media screen and (max-width: 768px) {
  nav .logo {
    float: none;
    width: auto;
    justify-content: center;
  }
  nav .links {
    position: fixed;
    z-index: 9;
    left: 0;
    right: 0;
    top: 100px;
    bottom: 100%;
    overflow: hidden;
    width: auto;
    height: auto;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: rgba(0, 0, 0, 0.8);
    box-sizing: border-box;
    transition: all 0.5s ease-in-out;
  }
  nav .links a {
    font-size: 20px;
    color: #fff;
  }
  nav .icon-burger {
    display: block;
  }
  nav :checked ~ .links {
    bottom: 0;
  }
  nav :checked ~ .icon-burger .line:nth-child(1) {
    transform: translateY(10px) rotate(225deg);
  }
  nav :checked ~ .icon-burger .line:nth-child(3) {
    transform: translateY(-10px) rotate(-225deg);
  }
  nav :checked ~ .icon-burger .line:nth-child(2) {
    opacity: 0;
  }

  /* About Section */
  .grid {
    grid-template-columns: 1fr;
  }
}

.project__container {
  width: 70%;
  margin: 100px auto;
  /* border: 1px solid #5c5c5c; */
  color: #fff;
  padding: 120px 40px;
  text-align: center;
}

.project__container-images {
  position: relative;
  width: 100%;
  height: 600vh;
  padding: 40px 0;
}

.project__image {
  /* background: red; */
  width: 600px;
  height: 500px;
  margin: 40px auto;
}

.project__image-one {
  background: url("https://images.unsplash.com/photo-1529374255404-311a2a4f1fd9?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1349&q=80")
    no-repeat 50% 50%;
  background-size: cover;
}

.project__image-two {
  position: relative;
  top: -100px;
  left: -260px;
  background: url("https://images.unsplash.com/photo-1521498542256-5aeb47ba2b36?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80")
    no-repeat 50% 50%;
  background-size: cover;
}

.project__image-three {
  position: relative;
  left: 300px;
  background: url("https://images.unsplash.com/photo-1542594452-cd83273a8f20?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80")
    no-repeat 50% 50%;
  background-size: cover;
}

.project__image-four {
  position: relative;
  top: -200px;
  left: -100px;
  background: url("https://images.unsplash.com/photo-1517231305676-5702be37e853?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80")
    no-repeat 50% 50%;
  background-size: cover;
}

.project__image-five {
  position: relative;
  top: -400px;
  left: 300px;
  background: url("https://images.unsplash.com/photo-1527534085786-f44cde0659a2?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80")
    no-repeat 50% 50%;
  background-size: cover;
}
.project__image-six {
  position: relative;
  top: -400px;
  left: -300px;
  background: url("https://images.unsplash.com/photo-1578021127722-1f1ff95b429e?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1350&q=80")
    no-repeat 50% 50%;
  background-size: cover;
}
.project__image-seven {
  position: relative;
  width: 400px;
  height: 500px;
  top: -850px;
  left: 350px;
  z-index: 6;
  background: url("https://images.unsplash.com/photo-1503341504253-dff4815485f1?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=634&q=80")
    no-repeat 50% 50%;
  background-size: cover;
}
.project__image-eight {
  position: relative;
  width: 900px;
  height: 500px;
  top: -1080px;
  left: 150px;
  background: url("https://images.unsplash.com/photo-1497562187797-ec8cb333f512?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80")
    no-repeat 50% 50%;
  background-size: cover;
}

@media (max-width: 900px) {
  .project__container-title h1 {
    font-size: 40px;
  }

  .project__container {
    width: 80%;
  }

  .project__container-images {
    width: 100%;
    margin: 0 auto;
  }

  .project__image {
    width: 90%;
  }

  .project__image-one,
  .project__image-two,
  .project__image-three,
  .project__image-four,
  .project__image-five,
  .project__image-six,
  .project__image-seven,
  .project__image-eight,
  .project__image-nine,
  .project__image-ten {
    position: relative;
    top: 0;
    left: 0;
  }
}
